@media (prefers-color-scheme: dark) {
  body {
    background-color: #222;
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}
